[user]
	email = suyogdahal46@gmail.com
	name = suyogdahal
[includeIf "gitdir:~/docsumo/"]
	path = .gitconfig-Gitlab
[http]
	postBuffer = 157286400
[credential]
	helper = store
[credential "https://dev.azure.com"]
	useHttpPath = true
[init]
	defaultBranch = main
